#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

.calculator {
    margin: 50px auto;
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }
  h1
  {
    text-align: center;
    font-size: 100px;
  }
  .screen {
    background-color: #fff;
    padding: 10px;
    text-align: right;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .button-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  button {
    font-size: 18px;
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .clear,
  .backspace,
  .equals
   {
    grid-row: 5;
    background-color: #ff9800;
    color: #fff;
  }
  
  .equals {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 3;
    grid-row: 5;
  }
  .operator,
  .number {
    background-color: #f2f2f2;
  }
  
  .clear:hover,
  .backspace:hover,
  .equals:hover {
    background-color: #e57373;
  }
  
  .operator:hover,
  .number:hover {
    background-color: #d4d4d4;
  }
  
